.FamilyNameInput{
    border-style: none;
    font-size: 45px;
}

.TreeButton{
    display: flex;
}

.portalContainer{
    height: 90vh;
}
.popup-content{
    width: 30vw;
    height: 30vh;
    background-color: rgba(166,196,156,0.5);

}